html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  background-image: url("https://images.pexels.com/photos/1647975/pexels-photo-1647975.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0, 0, 0, 0.25);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.homeContainer {
  height: 100vh;
}

.navigation {
  display: flex;
  background: rgba(36, 36, 36, 0.769);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  align-content: center;
  border-bottom: 7px solid rgb(25, 99, 164);
}

.navLinks {
  margin-top: 20px;
}

.navLinks a {
  padding: 10px;
  font-size: 25px;
  line-height: 20px;
  cursor: pointer;
  color: rgba(2, 100, 186, 0.728);
  text-decoration: none;
  transition: color 0.5s;
}

.navLinks a:hover {
  color: white;
}

.title {
  text-align: right;
  padding-right: 10%;
  font-size: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.title p {
  font-size: 40px;
  margin: 0;
}

#projects {
  padding-top: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  height: 100%;
  color: white;
}

#languages {
  height: 100vh;
  width: 90%;
  margin: auto;
  color: white;
}

/* project component*/
.projectContainer {
  height: 100%;
  width: 80%;
  margin: auto;
}

.projectsHeader {
  text-align: center;
  font-size: 50px;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}

.single-Project {
  display: flex;
  margin-bottom: 10%;
  padding: 20px;
  background: rgba(36, 36, 36, 0.769);
  border-top: 5px solid rgb(25, 99, 164);
}

.projectThumbnail {
  margin: 10px;
  width: 50%;
}

.projectThumbnail img {
  transition: box-shadow 0.5s;
}

.projectThumbnail img:hover {
  box-shadow: -8px 9px 5px 0px rgb(25, 99, 164);
}

.projectDescriptions {
  font-size: 20px;
  display: flex;
  width: 50%;
}

.projectDescriptions div {
  margin: 10px;
}

.project-titles {
  display: flex;
  align-items: center;
}

.project-titles h1 {
  margin: 0;
}

/* languages view*/

.languages {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 100px;
}

.languages h1 {
  font-size: 55px;
}

.languages h3 {
  font-size: 30px;
}

.languages p {
  font-size: 20px;
}

.languageThumbs {
  text-align: center;
  padding: 10px;
  border: 1px solid white;
  background: rgba(36, 36, 36, 0.769);
  width: 200px;
}

.languageThumbs img {
  width: 100px;
  height: 100px;
}

.languageThumbs div {
  font-size: 20px;
  margin-top: 10px;
}

/* contact me view*/
#contact {
  height: 100vh;
  text-align: center;
  color: white;
  justify-content: space-around;
  margin-top: 100px;
  padding-bottom: 200px;
  background: rgba(36, 36, 36, 0.769);
}

#contact img {
  border-radius: 50%;
}

.image-container {
  text-align: left;
  margin-left: 10%;
  padding-top: 10%;
  display: flex;
}

.image-container p {
  font-size: 20px;
  width: 300px;
  margin-left: 100px;
}

.contactMeContainer {}

.contact-form {
  background: rgba(36, 36, 36, 0.769);
  width: 40%;
  margin: auto;
  padding: 10px;
}

.contactMe,
.location,
.email {
  font-size: 40px;
  margin: 10px;
  color: white;
}

.email a {
  color: rgb(25, 99, 164);
  transition: color 0.5s;
}

.email a:hover {
  color: white;
}

/* */
.information {
  align-items: center;
}

.information i {
  color: rgba(2, 100, 186, 0.728);
  font-size: 40px;
  margin-top: 0;
  margin-left: 20px;

  transition: color 0.5s;
}

.information i:hover {
  color: white;
}

.social-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
}

/* IPAD VIEW */
@media (max-width:1024px) {
  .contact-form {
    width: 100%;
  }
}

@media (max-width:415px) {
  .mainContainer {
    width: 100%;
  }

  .navigation {
    display: flex;
    background: rgba(36, 36, 36, 0.769);
    color: white;
    position: fixed;
    top: 0;
    align-content: center;
    border-bottom: 7px solid rgb(25, 99, 164);
  }

  .navigation a {
    font-size: 18px;
  }

  .title {
    padding-top: 47%;
    text-align: left;
    font-size: 80px;
  }

  .social-buttons {
    justify-content: flex-start;
  }

  .single-Project {
    display: block;
  }

  .projectThumbnail {
    width: 100%;
    margin: 0;
  }

  .languages {
    display: block;
  }

  .image-container {
    display: block;
  }

  .image-container p {
    margin: 0;
  }

  .contactMe,
  .location,
  .email {
    font-size: 25px;
    margin: 10px;
    color: white;
  }

  #contact {
    height: 100vh;
  }
}

/* IPHONE 5/SE */
@media (max-width:415px) {
  .mainContainer {
    width: 100%;
  }

  .navigation {
    display: flex;
    background: rgba(36, 36, 36, 0.769);
    color: white;
    position: fixed;
    top: 0;
    align-content: center;
    border-bottom: 7px solid rgb(25, 99, 164);
  }

  .navigation a {
    font-size: 14px;
  }

  .title {
    padding-top: 50%;
    text-align: left;
    font-size: 80px;
  }

  .social-buttons {
    justify-content: flex-start;
  }

  .single-Project {
    display: block;
  }

  .projectThumbnail {
    width: 100%;
    margin: 0;
  }

  .languages {
    display: block;
  }

  .image-container {
    display: block;
    margin: 0;
    padding-left: 3%;
  }

  .image-container p {
    margin: 0;
    font-size: 20px;
  }

  .contactMe,
  .location,
  .email {
    font-size: 20px;
    margin: 10px;
    color: white;
  }

  #contact {

    height: 100vh;
  }

  #languages {
    height: 100%;
  }
}